*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/******** header *******/
nav {
    background-image: url('images/watchlist-background.png');
    background-color: #0E0E0E;
    background: cover;
    background-repeat: no-repeat;
}

.nav-elements {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    gap: 10px;
    height: 208px;
    max-width: 765px;
    margin: 0 auto;
    
}

.nav-elements > h1 {
    align-self: center;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2.69em;
    margin: 0;

}

.nav-elements > .my-watchlist-btn {
    align-self: center;
    background: none;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .875em;
    margin: 0;
    
}

/***** buttons and inputs ******/

.my-watchlist-btn:hover,
.my-watchlist-btn:focus,
.search-input:hover,
.search-input:focus,
.search-btn:hover,
.search-btn:focus,
.watchlist-btn:hover,
.watchlist-btn:focus,
.remove-btn:hover,
.remove-btn:focus,
.add-movies-btn:hover,
.add-movies-btn:focus {
    cursor: pointer;
}

.watchlist-btn:hover,
.watchlist-btn:focus,
.add-movies-btn:hover,
.add-movies-btn:focus,
.my-watchlist-btn:hover,
.my-watchlist-btn:focus,
.remove-btn:hover,
.remove-btn:focus,
.read-more-btn:hover,
.read-more-btn:focus  {
    opacity: .85;
    transform: scale(.975);
}

/************** search bar ***************/

.search-container{
    display: flex;
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 710px;
    padding: 0 5px;
}

.search-input {
    font-size: inherit;
    font-family: inherit;
    background-image: url('images/Search\ \(1\).png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    padding: 8px 38px;
    margin-left: auto;
    margin-right: 0;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    min-width: 65%;
    outline: 0;
    color: gray;
}

.search-btn {
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #F9FAFB;
    color: gray;
    padding: 8px 38px;
    margin-right: auto;
    margin-left: 0;
    align-self: center;
    border-left: none;
}

/**** default page *****/

.default-pg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 80px;
}

.default-txt {
    color: #DFDDDD;
    font-size: 1.125em;
    margin: 20px;
    text-align: center;
}

/***** movie results style ******/

.results-container {
    display: flex;
    gap: 10px;
    margin: 0 25px;
    border-bottom: 2px solid #E5E7EB;
    padding: 25px 0;
    width: 75%;
    max-width: 600px;  
}


.poster {
    align-self: center;
    width: 6.188em;
    max-height: 9.213em;
    border-radius: 2.33px;
    box-shadow: 0 0 10px #6B7280;
}


.title-rating-container {
    display: flex;
    align-items: center;
    gap: .313em;
    margin-left: .938em;
    margin-bottom: .625em;
    margin-top: 1.25em;
}

.time-genre-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .313em;
    margin-left: .938em;
    margin-bottom: .625em;
}

.title {
    font-size: 1.125em;
    font-weight: 500;
    margin-right: .625em;
    margin-top: 0;
    margin-bottom: 0;
}

.plot {
    display: flex;

}

.plot-content {
    font-size: .875em;
    font-weight: 300;
    margin: 0;
    margin-left: .938em;
    color: #6B7280;
    max-height: calc(1.2em * 3);
    max-width: 250px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

  .read-more-btn {
    -webkit-appearance: none;
    font-family: inherit;
    color: #6B7280;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    opacity: .8;
    font-size: .55em;
    font-style: italic;
    margin-top: auto;
    min-width: 50px;
  }

.rating,
.runtime,
.genre {
    font-size: .75em;
    font-weight: 300;
}

.rating,
.runtime{
    margin: 0
}
.add-icon,
.remove-icon { 
    margin: 0;
    width: .87em }
    
.genre { margin: 0 20px }


.watchlist-btn,
.add-movies-btn,
.remove-btn {
    font-family: 'Inter', sans-serif;
    font-size: .75em;
    font-weight: 500;
    border: none;
    background: none;
    padding: 0;
    -webkit-appearance: none;
}

.watchlist-btn {
    background-image: url('images/add.png');
    background-repeat: no-repeat;
    background-size: .87em;
    background-position: left center;
    background-position-x: 0;
    padding: 0 15px;
}

.remove-btn {
    background-image: url('images/remove.png');
    background-repeat: no-repeat;
    background-size: .87em;
    background-position: left center;
    background-position-x: 0;
    padding-left: 15px;
}

.added-txt-container{
    display: flex;
    gap: 4px;
    align-items: center;
}

.add-icon {    
    font-size: .75em;
    font-weight: 300;
    width: .87em;
    opacity: .6;
}

.added-txt{
    font-size: .75em;
    font-weight: 500;
    opacity: .6;
    margin: 0;

}

.add-movies-btn {
    font-weight: bold;
}

/* pop-up messages styling */

.added-pop-up,
.error-pop-up{
    font-size: .8em;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 2%;
    right: 2%;
    background-image: url('images/watchlist-background.png');
    background-color: #723535;
    background: cover;
    background-repeat: no-repeat;
    padding: 15px 15px;
    max-width: 40%;
    max-height: 10%;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #6B7280;
    gap: 5px;
    opacity: .85;

}

.added-pop-up {
    background-color: #25f64f;
}

.annoyed-face{
    width: 1.5em;
    filter: invert(85%) ;
}

.alien-face{
    width: 1.5em;
}

.added-pop-up > p,
.error-pop-up > p {
    font-weight: 600;
    font-size:1em;
    width: 75%;
    margin: 0;
}

.added-pop-up > p{
    color: #000000;
    text-shadow:0 0 10px #25f64f;
}

.error-pop-up > p {
    color: #FFFFFF;
    text-shadow:0 0 10px #723535;
}
  
.error-style {
    opacity: .3;
}

.added-style {
    color: #19a936;
    opacity: .3;
}
  
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* Apply the animation to the pop-up */
.added-pop-up,
.error-pop-up {
    /* Existing styles... */
    animation: fadeOut 6.5s ease-out forwards; /* Animation duration and timing function */
}

/* Clear the animation and hide the pop-up */
.added-pop-up.fade-out,
.error-pop-up.fade-out {
    display: none;
}
  


/****** media ********/

@media (max-width: 414px){
    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
    }

    .search-container {
        max-width: 750px;
    }

    .default-pg-container {
        margin-top: 60px;
    }
}


@media (min-width: 1100px) {
    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
    }

    .search-container{
        top: 9.3em;
        max-width: 750px;
    }

}


